@page
@model project1.Pages.FoodsModel
@{



	<div style="
		border: 1px solid #333;
		border-radius: 10px;
		padding: 15px;
		box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
		background-color: #1e1e1e;  <!-- CHANGED TO DARK GREY -->
		flex: 0 0 calc(25% - 15px);
		box-sizing: border-box;
	">
		@if(User.Identity.IsAuthenticated){
			<h4>WELCOME @User.Identity.Name</h4>
		}
		else{
			<h4>WELCOME Anonymous! </h4>
		}

		@if(User.IsInRole("Admin") || User.IsInRole("Seller"))
		{
			<form method = "post">
				<label>FoodName: </label>
				<input asp-for = "addedFoodItem.FoodName"type = "text" />

				<label>FoodPrice: </label>
				<input asp-for = "addedFoodItem.FoodPrice" type = "number" />

				<label>FoodTimeToMake: </label>
				<input asp-for = "addedFoodItem.FoodTimeToMake" type = "number" />

				<label>Deliverer: </label>
				<input asp-for = "addedFoodItem.FoodDeliverer" type = "text" />

				<label>Delivery Address: </label>
				<input asp-for = "addedFoodItem.FoodDeliveryAddress" type = "text" />

				<label>FoodTimeToMakeTheDelivery </label>
				<input asp-for = "addedFoodItem.FoodTimeToMakeTheDelivery" type = "number" />
				<button type ="submit" asp-page-handler = "AddHandler">Add</button>

			</form>

		}




	</div>



	<div style="display: flex; flex-wrap: wrap; gap: 15px; justify-content: flex-start;">
		@foreach (var Food in Model.FoodItems)
		{
			<div style="
		border: 1px solid #333;
		border-radius: 10px;
		padding: 15px;
		box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
		background-color: #1e1e1e;  
		flex: 0 0 calc(25% - 15px);
		box-sizing: border-box;
		">
					<p>FoodName: @Food.FoodName</p>
					<p>FoodPrice: @Food.FoodPrice$</p>
					<p>Time to make: @Food.FoodTimeToMake minute(s)</p>
					<p>Expected delivery: In @Food.FoodTimeToMakeTheDelivery minute(s)</p>
					<a href="Details">Details</a>
					<form method = "post">
						
					<button type = "submit" asp-page-handler ="AddToCartHandler" asp-route-id ="@Food.FoodId">Add to Cart</button>
					@if (User.IsInRole("Admin") || Food.Seller == Model.user.Email)

					{
					<button type ="submit" name ="Username" value ="@User.Identity.Name"asp-page-handler = "DeleteHandler" asp-route-id = "@Food.FoodId">Delete</button>
					<button type ="submit" name = "Username" value ="@User.Identity.Name" asp-page-handler ="UpdateHandler" asp-route-id = "@Food.FoodId">Update</button>

					}
					</form>
				</div>
		}
	</div>
}



